[user]
  name = João Pedro Magalhães
  email = joaopsilvamagalhaes@gmail.com
#  signingkey = joaopsilvamagalhaes@gmail.com

[include]
  path = ~/themes.gitconfig

[init]
  defaultBranch = main

[core]
  editor = nvim
  pager = delta

[commit]
  template = ~/.gitmessage
#  gpgSign = true

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[format]
  pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset

[alias]
  # Thanks r00k, this creates a pretty graph view of the log
  lg = log --graph --abbrev-commit --date=relative
  c = commit -m

[delta]
  line-numbers = true
  side-by-side = false

  file-modified-label = modified:
 
[interactive]
  diffFilter = delta --color-only

[pull]
  rebase = true
